#-------------------------------------------------------------------------------
# Author     : Florian Hild
# Description: Borg backup env file used by borg_backup.sh script
#-------------------------------------------------------------------------------

# Borg repo config:
{% if borg_backup_passphrase %}
BORG_PASSPHRASE='{{ borg_backup_passphrase }}'
{% endif %}
{% if borg_backup_repo %}
BORG_REPO="{{ borg_backup_repo }}"
{% endif %}
{% if borg_backup_repo_prefix %}
BORG_PREFIX='{{ borg_backup_repo_prefix }}'
{% endif %}
{% if borg_backup_logfile_path %}
borg_logfile='{{ borg_backup_logfile_path }}'
{% endif %}

# Borg backup config:
{% if borg_backup_paths %}
# Use $HOME instead of ~
BORG_DIR_LIST="
{%- for path in borg_backup_paths +%}
{{ path }}{% if not loop.last %} \{% endif %}
{% endfor +%}
"
{% endif %}
{% if borg_backup_exclude %}
BORG_EXCLUDE='{{ borg_backup_exclude }}'
{% endif %}

{% if borg_backup_run_pre_commands %}
# Pre commands
run_pre(){
  {{ borg_backup_run_pre_commands | indent(2) }}
}
{% endif %}

{% if borg_backup_run_post_commands %}
# Post commands
run_post(){
  {{ borg_backup_run_post_commands | indent(2) }}
}
{% endif %}

{% if borg_backup_pre_prune_keep %}
# Borg repo prune config:
BORG_PRUNE_KEEP_LAST='{{ borg_backup_pre_prune_keep.last }}'
BORG_PRUNE_KEEP_DAILY='{{ borg_backup_pre_prune_keep.daily }}'
BORG_PRUNE_KEEP_WEEKLY='{{ borg_backup_pre_prune_keep.weekly }}'
BORG_PRUNE_KEEP_MONTHLY='{{ borg_backup_pre_prune_keep.monthly }}'
BORG_PRUNE_KEEP_YEARLY='{{ borg_backup_pre_prune_keep.yearly }}'
{% endif %}
