---

global:
  checkNewVersion: false
  sendAnonymousUsage: false
entryPoints:
  http:
    address: '0.0.0.0:80/tcp'
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  https:
    address: '0.0.0.0:443/tcp'
    http:
      tls:
        certResolver: hetzner
        domains:
          - main: '{{ docker_traefik_domain_main }}'
            sans:
              - '{{ docker_traefik_domain_sans }}'
        options:
          default:
serversTransport:
  insecureSkipVerify: true
certificatesResolvers:
  hetzner:
    acme:
      email: {{ docker_traefik_acme_mail }}
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: hetzner
        delayBeforeCheck: 0
        resolvers:
          - 'hydrogen.ns.hetzner.com:53'
          - 'helium.ns.hetzner.de:53'
          - 'oxygen.ns.hetzner.com:53'
          - '1.1.1.1:53'

# -- (Optional) Change Log Level and Format here...
#     - loglevels [DEBUG, INFO, WARNING, ERROR, CRITICAL]
#     - format [common, json, logfmt]
log:
  level: INFO
  format: common
#  filePath: log/traefik.log
# -- (Optional) Enable Accesslog and change Format here...
#     - format [common, json, logfmt]
# accessLog:
#   filePath: /path/to/log/log.txt
#   format: common
# -- (Optional) Enable API and Dashboard here, don't do in production
api:
  insecure: false
  dashboard: true
  debug: true
providers:
  providersThrottleDuration: 30
  file:
    directory: /etc/traefik/dynamic_config
    watch: true
  docker:
    endpoint: 'unix:///var/run/docker.sock'
    # endpoint: "ssh://traefik@192.168.2.5:2022"
    # -- (Optional) Enable this, if you want to expose all containers automatically
    exposedByDefault: true
    defaultRule: "Host(`{% raw %}{{ .ContainerName }}{% endraw %}{{ docker_traefik_fqdn_sufix }}`)"
    network: traefik-frontend
    httpClientTimeout: 0
    watch: true
ping: {}

...